HTTP_ADDR=:8080
SPOTIFY_CLIENT_ID=8d95dc77f1364a6a8ce5739d229f2a7e
SPOTIFY_CLIENT_SECRET=1b48d9d9245849ebba1b40cb466db343
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8080/oauth/spotify/callback
SPOTIFY_BASE_URL=https://api.spotify.com
